:host {
  min-height: 800px;
  display: block;
}
.tr {
  cursor: default;
  display: flex;
}
.tr>div {
  flex: 1 1 auto;
}
.tr.baseline {
  background: #fff;
  color: #333;
}
.tr>div.place {
  font-size: 2em;
  padding-left: 20px;
  flex: 0 0 300px;
  height: 60px;
  line-height: 60px;
}
.tr>div.time {
  font-size: 15px;
  text-align: center;
  padding: 10px;
  flex: 0 0 100px;
}
.tr>div.time>div:first-child {
  font-size: 12px;
}
.tr>div.timebar {
  padding-top: 15px;
}
@media only screen and (max-width: 375px) {
  .tr>div.place {
    flex: 0 0 150px;
    font-size: 1.2em;
    padding-left: 10px;
  }
  .tr>div.place>.continent {
    font-size: 0.8em;
    display: block;
    height: 10px;
    line-height: 30px;
  }
  .tr>div.place>.continent:empty {
    display: none;
  }
  .tr>div.place>.slash {
    display: none;
  }
  .tr>div.place>.city {
    font-size: 1.4em;
    height: 40px;
    line-height: 60px;
  }
}
.add-fav .form-control {
  background: #000;
  border: 1px solid #611038;
}

.actions {
  margin-left: -95px;
  animation-name: swipe;
  animation-duration: .1s;
}
.actions .action-buttons {
  display: inline-block;
}
.action-buttons {
  display: none;
  background: #fff;
  flex: 0 0 100px !important;
}
.action-buttons>button {
  flex: 1 1 auto;
  border: none;
  height: 100%;
}
button.del {
  background: #ff004d;
  color: #fff;
}
@keyframes swipe {
  from { margin-left: 0;}
  to { margin-left: -95px; }
}
