<div (click)="refreshTime()">
  <div class="add-fav">
    <div class="col col-sm-12">
      <input [(ngModel)]="selectedPlace"
             [typeahead]="timezones"
             placeholder="Type your favorite places here"
             class="form-control"
             (typeaheadOnSelect)="addFavorite()">
    </div>
  </div>

  <br />

  <div class="tr" *ngFor="let place of myFavorites;"
      [ngClass]="{
        'baseline': baseline === place
      }"
      (click)="setBaseline(place);"
  >
    <div class="place">
      <span class="continent">{{ splitBySlash(place)[0] }}</span>
      <span class="slash">{{ splitBySlash(place)[0] != '' ? '/' : '' }}</span>
      <span class="city">{{ splitBySlash(place)[1] }}</span>
    </div>
    <div class="time">
      <div>{{ momentSnapshot.tz(place).format('MMMM') }}</div>
      <div>{{ momentSnapshot.tz(place).format('Do') }}</div>
    </div>
    <!--
    <div>{{
      (
        momentSnapshot.tz(place).utcOffset()
       -momentSnapshot.tz(baseline).utcOffset()
      )/60
    }}</div>
    <div>{{ momentSnapshot.tz(place).utcOffset()/60 }}</div>
    <div>{{ momentSnapshot.tz(place).format('HH:mm:ss') }}</div>
    -->
    <div class="timebar">
      <app-timebar [momentSnapshot]="momentSnapshot"
                   [place]="place"
                   [baseline]="baseline"></app-timebar>
    </div>
  </div>
</div>
