{{ guess }}
<div>
  <button type="button" class="btn btn-sm btn-primary" (click)="refreshTime()">
    Refresh Time
  </button>
</div>


<div>
  <input [(ngModel)]="selectedPlace"
         [typeahead]="timezones"
         placeholder="Type your favorite places here"
         class="form-control"
         (keyup)="addFavorite($event, selectedPlace)">
</div>

<table class="table">
  <tr *ngFor="let place of myFavorites;">
    <td>
      <input type="radio"
             name="baseline"
             [checked]="baseline === place"
             (click)="setBaseline(place);" />
    </td>
    <td>{{ place }}</td>
    <td>{{
      (
        momentSnapshot.tz(place).utcOffset()
       -momentSnapshot.tz(baseline).utcOffset()
      )/60
    }}</td>
    <td>{{ momentSnapshot.tz(place).utcOffset()/60 }}</td>
    <td>{{ momentSnapshot.tz(place).format('MMM Do YYYY') }}</td>
    <td>{{ momentSnapshot.tz(place).format('HH:mm:ss') }}</td>
    <td>
      <app-timebar [momentSnapshot]="momentSnapshot"
                   [place]="place"
                   [baseline]="baseline"></app-timebar>
    </td>
  </tr>
</table>
