<div>
  <h1>
    {{ title }}
  </h1>
</div>
<router-outlet></router-outlet>

<p>
Hi there, you are browsing a productivity tool which the author thinks provides a better overview of time across different timezones and regions. The author is a programmer who is bad at math and numbers. He finds all the available tools around timezones are difficult to read because of his own way of reading numbers and graphs. Maybe you share the similar traits and maybe you will like this tool.

The author often quits what he is doing mainly because he often sets the scope too large for the beginning. This tool is simple enough. He hopes that this time he would persevere.
</p>
