<div class="bar-container">
  <div class="cycle past"
       [ngStyle]="{
         'flex': '0 0 ' + left.length * FRAG_WIDTH + 'px'
       }">
  </div>
  <div class="cycle"
       [ngStyle]="{
         'flex': '0 0 ' + (fragments.length * FRAG_WIDTH + FRAG_WIDTH_EXPAND) + 'px'
       }">
  </div>
  <div class="cycle future"
       [ngStyle]="{
         'flex': '0 0 ' + right.length * FRAG_WIDTH + 'px'
       }">
  </div>
</div>
<div class="bar-container">
  <div *ngFor="let l of left;"
       class="fragment">
   {{ l }}
  </div>
  <div *ngFor="let f of fragments" [attr.data-index]="i"
       [ngClass]="{
         'baseline': place === baseline,
         'current': cursor === f
       }"
       class="fragment">
   <div *ngIf="cursor === f && place === baseline"
        class="vertical-baseline">
     <div class="focus">
       {{ momentSnapshot.tz(this.place).format('HH:mm') }}
     </div>
   </div>
   <div *ngIf="cursor === f && place != baseline"
        class="vertical-baseline">
     {{ momentSnapshot.tz(this.place).format('HH:mm') }}
   </div>
   <div *ngIf="cursor != f">
     {{ f }}
   </div>
  </div>
  <div *ngFor="let r of right;"
       class="fragment">
   {{ r }}
  </div>
<div>
