<div class="bar-container">
  <div *ngFor="let f of fragments" [attr.data-index]="i"
       [ngClass]="{
         'baseline': place === baseline,
         'current': cursor === f
       }"
       class="fragment">
   <div *ngIf="cursor === f && place === baseline"
        class="vertical-baseline">
     <div class="focus">
       {{ momentSnapshot.tz(this.place).format('HH:mm') }}
     </div>
   </div>
   <div *ngIf="cursor === f && place != baseline"
        class="vertical-baseline">
     {{ momentSnapshot.tz(this.place).format('HH:mm') }}
   </div>
   <div *ngIf="cursor != f">
     {{ f }}
   </div>
  </div>
<div>
